body {
  padding-top: 65px;
  padding-bottom: 65px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.caption{
  overflow-wrap: break-word;
}

.form-horizontal{
  display:block;
  width:40%;
  margin: 0 auto;
}