<% include ../partials/header.ejs %>
    <div class="container justify-content-center">
        <h1 class="text-center">New comment to camp: <%= camp.name%></h1> 
        <div class="form-center-wd-50">
            <form method="POST" action="/campgrounds/<%= camp.id%>/comments">
                <div class="form-row">
                     <div class="form-group">
                        <label>Author</label>
                        <input name="comment[author]" type="text" class="form-control" placeholder="Author"></input>
                    </div>
                </div>
                <div class="form-row">
                     <div class="form-group">
                         <label>Message</label>
                        <textarea name="comment[body]" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Post comment</button>
            </form>
            <div class="text-center">
                <div class="text-left">
                    <a href="/campgrounds">Back</a>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>