<form method="POST" action="/campgrounds">
    <input name="name" type="text" placeholder="Camp name">
    <input name="photo" type="text" placeholder="Photo url">
    <button>Submit</button>
</form>

<a href="/campgrounds">Back</a>