body {
  padding-top: 65px;
  padding-bottom: 65px;
  word-wrap: break-word;
}

i {
  margin-left: 8px;
}

.form-inline{
  display: inline;
}

.form-center-wd-50{
  margin: auto;
  max-width: 50%;
}


.center{
  margin: auto;
}

.wd-100{
  max-width: 100%;
}

.wd-75{
  max-width: 75%;
}

.wd-50{
  max-width: 50%;
}

.wd-25{
  max-width: 25%;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.caption{
  overflow-wrap: break-word;
}

.form-horizontal{
  display:block;
  width:40%;
  margin: 0 auto;
}