<% include ../partials/header.ejs %>

    <div class="container">
        <h1 class="text-center"><%= camp.name %></h1>
        <img class="img-fluid rounded mx-auto" src="<%- camp.photo %>"></img>
        <p><%- camp.desc %></p>
    </div>

<% include ../partials/footer.ejs %>