<% include partials/header.ejs %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Yelp Camp</h1>
                <p>View our campgrounds</p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/newCampground">Add New Campground</a>
            </div>
        </header>
        <div class="row text-center ">
            <% console.log(camps) %>
            <% camps.forEach(function(camp){ %>
                <div class="col-sm-6 col-md-3 pt-2">
                   <img class="img-fluid img-thumbnail rounded" src="<%= camp.photo %>">
                   <div class="caption">
                       <h4><%= camp.name %></h4>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-sm" href="/campgrounds/<%= camp.id %>">More</a>
                    </div>
                     
                 </div>
            <% }); %>
        </div>
<% include partials/footer.ejs %>